<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="commonStatic">
    <meta charset="UTF-8">
    <title th:text="${pageInfo?.parentPageTitle + ' - ' + pageInfo?.subPageTitle}">페이지</title>
    <script src="/js/dist/module/jquery/jquery-3.7.1.min.js"></script>

    <!-- csrf 헤더 추가 -->
    <script type="application/javascript" th:inline="javascript">
        $(function () {
            let csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            let csrfToken = /*[[${_csrf.token}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });
    </script>

    <script src="/js/dist/module/custom/api.js"></script>
    <script src="/js/dist/module/custom/submit.js"></script>
    <th:block th:replace="~{fragment/framework :: vue}"></th:block>
    <th:block th:replace="~{fragment/framework :: uikit}"></th:block>
    <th:block th:replace="~{fragment/framework :: bootstrap}"></th:block>

</th:block>

<th:block th:fragment="commonTitle">

    <div class="container mt-3">
        <div class="d-flex justify-content-center">
            <span class="fw-bold uk-text-lead" th:text="${pageInfo?.subPageTitle}">title</span>
        </div>
        <div class="d-flex justify-content-center">
            <span class="uk-text-meta" th:text="${pageInfo?.subPageDescription}">description</span>
        </div>
    </div>

</th:block>

</html>