<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="~{fragment/common :: commonStatic}"></th:block>
    <th:block th:replace="~{fragment/framework :: uikit}"></th:block>
    <th:block th:replace="~{fragment/framework :: bootstrap}"></th:block>

</head>
<body>

<!-- 헤더 -->
<th:block th:replace="~{fragment/header :: commonHeader}"></th:block>
<!-- 타이틀 -->
<th:block th:include="~{fragment/common :: commonTitle}"></th:block>

<div class="container mt-3">

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a href="/page-admin/page/list" class="fs-4 fw-light">페이지 등록</a>
            </div>
            <div class="col">
                <a href="/page-admin/page/auth/list" class="fs-4 fw-light">페이지 권한 등록</a>
            </div>
            <div class="col">
                <a href="/page-admin/ip-access/list" class="fs-4 fw-light">차단 IP 등록</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>