<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">

<!-- 추가 정적 파일 -->
<th:block layout:fragment="addStatic">

</th:block>

<!-- 내용 -->
<th:block layout:fragment="content">
    <div class="container mt-3">

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a href="/page-admin/page/list" class="fs-4 fw-light">페이지 등록</a>
                </div>
                <div class="col">
                    <a href="/page-admin/page/auth/list" class="fs-4 fw-light">페이지 권한 등록</a>
                </div>
                <div class="col">
                    <a href="/page-admin/ip-access/list" class="fs-4 fw-light">차단 IP 등록</a>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>