<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">

<!-- 추가 정적 파일 -->
<th:block layout:fragment="addStatic">
    <th:block th:replace="~{fragment/library :: tui-grid}"></th:block>
</th:block>

<!-- 내용 -->
<th:block layout:fragment="content">
    <!-- 모달창 -->
    <th:block th:replace="~{fragment/modalPageAuthority :: pageAuthorityUpdate}"></th:block>

    <div class="container mt-3">

        <div class="d-flex justify-content-between my-2">
            <a type="button" href='/page-admin/page/list'
               class="link-secondary link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover">
                페이지 관리
            </a>
            <th:block th:replace="~{fragment/modalPageAuthority :: pageAuthorityRegister}"></th:block>
        </div>

        <div id="gridTarget"></div>

    </div>
</th:block>

<!-- 추가 스크립트 -->
<th:block layout:fragment="addScript">
    <script type="application/javascript" th:inline="javascript">
        // csrf token
        let headers = {
        /*[[${_csrf.headerName}]]*/
        :
        /*[[${_csrf.token}]]*/
        }

        const Grid = tui.Grid;
        Grid.applyTheme('striped'); // Call API of static method

        let gridTarget = new Grid({
            el: document.getElementById("gridTarget"),
            rowHeaders: ['rowNum'],
            selectionUnit: 'row',
            columns: [
                {
                    header: '권한 아이디', name: 'pageAuthorityId', align: 'center', hidden: true
                },
                {
                    header : '권한 코드', name: 'pageAuthorityCode', width : 150, align: 'center',
                    resizable : true,
                    sortable : true,
                    filter: 'select'
                },
                {
                    header: '권한명', name: 'pageAuthorityName', width: 150, align : 'center',
                    resizable : true,
                    sortable : true,
                    filter: 'select'
                },
                {
                    header: '권한 설명', name: 'pageAuthorityDescription', width: 150, align: 'center',
                    resizable : true,
                    sortable : true,
                    filter: 'select'
                },
                {
                    header: '등록일', name: 'registerDate', width: 150, align: 'center',
                    resizable : true,
                    sortable : true,
                    filter: 'date'
                },
                {
                    header: '수정일', name: 'lastModifyDate', width: 150, align: 'center',
                    resizable : true,
                    sortable : true,
                    filter: 'date'
                },
            ],
            data: {
                api: {
                    readData: {
                        url : '/api/page-admin/auth',
                        method : 'GET',
                        initParams : {}
                    }
                },
                contentType: 'application/json',
                headers : headers
            },
            pageOptions: {
                perPage: 30
            },
            bodyHeight: 300
        })

        gridTarget.on('dblclick', function (ev) {
            let pageAuthorityId = gridTarget.getRow(ev.rowKey).pageAuthorityId;
            pageAuthorityUpdate.show(pageAuthorityId)
        });

        pageAuthorityRegister.closeCallback = () => {
            console.log("test")
            gridTarget.readData()
        }
        pageAuthorityUpdate.closeCallback = () => {
            console.log("test")
            gridTarget.readData()
        }

        document.getElementById("asdf").addEventListener("click", function (e){
            pageAuthorityUpdate.show(2)
        })

    </script>
</th:block>

</html>