<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="commonStatic">
    <script src="/library/jquery/jquery-3.7.1.min.js"></script>

    <!-- csrf 헤더 추가 -->
    <script type="application/javascript" th:inline="javascript">
        $(function () {
            let csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            let csrfToken = /*[[${_csrf.token}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });
    </script>

    <script src="/library/jquery/api/api.js"></script>
    <script src="/library/custom/submit.js"></script>
    <th:block th:replace="~{fragment/framework :: vue}"></th:block>
</th:block>

</html>