<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="bootstrap">
    <link rel="stylesheet" href="/framework/bootstrap-5.3.2/css/bootstrap.css" />
    <script src="/framework/bootstrap-5.3.2/js/bootstrap.js" th:if = "${!@environment.acceptsProfiles('prod')}"></script>
    <script src="/framework/bootstrap-5.3.2/js/bootstrap.min.js" th:if = "${@environment.acceptsProfiles('prod')}"></script>
    <script src="/framework/bootstrap-5.3.2/js/bootstrap.bundle.js" th:if = "${!@environment.acceptsProfiles('prod')}"></script>
    <script src="/framework/bootstrap-5.3.2/js/bootstrap.bundle.min.js" th:if = "${@environment.acceptsProfiles('prod')}"></script>
</th:block>

<th:block th:fragment="uikit">
    <link rel="stylesheet" href="/framework/uikit-3.17.11/css/uikit.css" />
    <script src="/framework/uikit-3.17.11/js/uikit.js" th:if = "${!@environment.acceptsProfiles('prod')}"></script>
    <script src="/framework/uikit-3.17.11/js/uikit.min.js" th:if = "${@environment.acceptsProfiles('prod')}"></script>
    <script src="/framework/uikit-3.17.11/js/uikit-icons.js" th:if = "${!@environment.acceptsProfiles('prod')}"></script>
    <script src="/framework/uikit-3.17.11/js/uikit-icons.min.js" th:if = "${@environment.acceptsProfiles('prod')}"></script>
</th:block>

<th:block th:fragment="vue">
    <script src="/framework/vue/vue.js" th:if = "${!@environment.acceptsProfiles('prod')}"></script>
    <script src="/framework/vue/vue.min.js" th:if = "${@environment.acceptsProfiles('prod')}"></script>

    <!--  Vue module  -->
    <script src="/framework/vue/module/vue-multiselect_2.1.6/vue-multiselect.js"></script>
    <link rel="stylesheet" href="/framework/vue/module/vue-multiselect_2.1.6/vue-multiselect.css" />
<th:block>

</html>