<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="bootstrap">
    <link rel="stylesheet" href="/framework/bootstrap-5.3.2/css/bootstrap.css" />
    <script src="/framework/bootstrap-5.3.2/js/bootstrap.js"></script>
    <script src="/framework/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>
</th:block>

<th:block th:fragment="uikit">
    <link rel="stylesheet" href="/framework/uikit-3.17.11/css/uikit.css" />
    <script src="/framework/uikit-3.17.11/js/uikit.js"></script>
    <script src="/framework/uikit-3.17.11/js/uikit-icons.js"></script>
</th:block>

<th:block th:fragment="vue">
    <script src="/framework/vue/vue.js"></script>
<th:block>

</html>