<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="commonHeader">

    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>

                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a th:href="@{/}">홈</a></li>

                    </ul>

                </div>

                <div class="uk-navbar-right">

                    <ul class="uk-navbar-nav">

                        <div class="uk-navbar-item">

                            <div sec:authorize="isAnonymous()">
                                <button class="uk-button uk-button-secondary"
                                        th:if="${@environment.getProperty('custom.account.type') == 'form'}"
                                        th:onclick="|location.href='@{/account/login}'|">
                                    로그인
                                </button>
                                <button class="uk-button uk-button-secondary"
                                        th:if="${@environment.getProperty('custom.account.type') == 'keycloak'}"
                                        th:onclick="|location.href='@{/oauth2/authorization/keycloak}'|">
                                    로그인
                                </button>
                                <button class="uk-button uk-button-primary"
                                        th:if="${@environment.getProperty('custom.account.type') == 'form'}"
                                        th:onclick="|location.href='@{/account/register}'|">
                                    계정생성
                                </button>
                            </div>


                            <div sec:authorize="isAuthenticated()">
                                <form th:action="@{/account/logout}" method="POST">
                                    <button class="uk-button uk-button-danger">로그아웃</button>
                                </form>
                            </div>
                        </div>
                    </ul>

                </div>

            </div>
        </div>
    </nav>

</th:block>

</html>