<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="tui-grid">
    <!-- Pagination -->
    <link rel="stylesheet" href="/library/tui/css/tui-pagination.css" />
    <script src="/library/tui/js/tui-pagination.js"></script>

    <!--datePicker-->
    <link rel="stylesheet" href="/library/tui/css/tui-date-picker.css" />
    <script src="/library/tui/js/tui-date-picker.js"></script>

    <!--Grid-->
    <link rel="stylesheet" href="/library/tui/css/tui-grid.css" />
    <script src="/library/tui/js/tui-grid.js"></script>
</th:block>

<th:block th:fragment="knockout-js">
    <script src="/library/knockout-js/knockout.js"></script>
    <script src="/library/knockout-js/knockout.mapping.js"></script>
</th:block>

</html>