<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="tui-grid">
    <!-- Pagination -->
    <link rel="stylesheet" href="/css/tui/tui-pagination.css" />
    <script src="/js/dist/module/tui/tui-pagination.js"></script>

    <!--datePicker-->
    <link rel="stylesheet" href="/css/tui/tui-date-picker.css" />
    <script src="/js/dist/module/tui/tui-date-picker.js"></script>

    <!--Grid-->
    <link rel="stylesheet" href="/css/tui/tui-grid.css" />
    <script src="/js/dist/module/tui/tui-grid.js"></script>
</th:block>

</html>