<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="pageAuthorityRegister">
    <!-- Modal -->
    <div class="modal" id="pageAuthorityRegister" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">권한 등록창</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="submitForm" class="row g-3">
                        <div class="col-12">
                            <label for="pageAuthorityCode" class="form-label">권한 코드*</label>
                            <input type="text" class="form-control" id="pageAuthorityCode" name="pageAuthorityCode" placeholder=""
                                   v-model="submitForm.pageAuthorityCode"
                                   :class="[validateText.pageAuthorityCode ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityCode }}</div>
                        </div>
                        <div class="col-12">
                            <label for="pageAuthorityName" class="form-label">권한 이름</label>
                            <input type="text" class="form-control" id="pageAuthorityName" name="pageAuthorityName" placeholder=""
                                   v-model="submitForm.pageAuthorityName"
                                   :class="[validateText.pageAuthorityName ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityName }}</div>
                        </div>
                        <div class="col-12">
                            <label for="pageAuthorityDescription" class="form-label">권한 설명</label>
                            <input type="text" class="form-control" id="pageAuthorityDescription" name="pageAuthorityDescription" placeholder=""
                                   v-model="submitForm.pageAuthorityDescription"
                                   :class="[validateText.pageAuthorityDescription ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityDescription }}</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button @click="create" type="button" class="btn btn-primary btn-sm">권한 등록</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#pageAuthorityRegister">
        페이지 권한 생성
    </button>

    <script type="application/javascript" th:inline="javascript">
        const app = Vue.createApp({
            data(){
                return{
                    submitForm : {
                        pageAuthorityCode : '',
                        pageAuthorityName : '',
                        pageAuthorityDescription : ''
                    },
                    validateText : {
                        pageAuthorityCode : '',
                        pageAuthorityName : '',
                        pageAuthorityDescription : ''
                    },
                    normalClass : 'form-text',
                    errorClass : "border-danger"
                }
            },
            created(){

            },
            mounted(){

            },
            methods: {
                create: function (){
                    requestJsonAjaxPromise({
                        url: "/api/page-admin/auth",
                        method: "POST",
                        data: this.submitForm,
                        async: true
                    }).then((response) => {
                        this.submitForm = {}
                        alert("권한을 등록하였습니다.")

                    }).catch((error) => {
                        console.log(error)
                        this.validateText = error.responseJSON.data.errorMessage
                    })
                }
            }
        }).mount("#pageAuthorityRegister")

    </script>
</th:block>

<th:block th:fragment="pageAuthorityUpdate(pageAuthorityId)">
    <!-- Modal -->
    <div class="modal" id="pageAuthorityUpdate" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">권한 등록창</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <div class="col-12">
                            <label for="pageAuthorityCode" class="form-label">권한 코드*</label>
                            <input type="text" class="form-control" name="pageAuthorityCode" placeholder=""
                                   v-model="submitForm.pageAuthorityCode"
                                   :class="[validateText.pageAuthorityCode ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityCode }}</div>
                        </div>
                        <div class="col-12">
                            <label for="pageAuthorityName" class="form-label">권한 이름</label>
                            <input type="text" class="form-control" name="pageAuthorityName" placeholder=""
                                   v-model="submitForm.pageAuthorityName"
                                   :class="[validateText.pageAuthorityName ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityName }}</div>
                        </div>
                        <div class="col-12">
                            <label for="pageAuthorityDescription" class="form-label">권한 설명</label>
                            <input type="text" class="form-control" name="pageAuthorityDescription" placeholder=""
                                   v-model="submitForm.pageAuthorityDescription"
                                   :class="[validateText.pageAuthorityDescription ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityDescription }}</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button @click="create" type="button" class="btn btn-primary btn-sm">권한 정보 수정</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript" th:inline="javascript">
        const app = Vue.createApp({
            data(){
                return{
                    submitForm : {
                        pageAuthorityId : [[${pageAuthorityId}]],
                        pageAuthorityCode : '',
                        pageAuthorityName : '',
                        pageAuthorityDescription : ''
                    },
                    validateText : {
                        pageAuthorityCode : '',
                        pageAuthorityName : '',
                        pageAuthorityDescription : ''
                    },
                    normalClass : 'form-text',
                    errorClass : "border-danger"
                }
            },
            created(){
                requestJsonAjaxPromise({
                    url: "api/page-admin/auth/" + [[${pageAuthorityId}]],
                    method: "GET",
                    data: {}
                }).then(function (response){
                    this.submitForm = response.data.contents
                }).catch(function (error){
                    alert("데이터를 불러오지 못하였습니다. 다시 시도해주세요.")
                })
            },
            mounted(){

            },
            methods: {
                create: function (){
                    requestJsonAjaxPromise({
                        url: "/api/page-admin/auth",
                        method: "PUT",
                        data: this.submitForm,
                        async: true
                    }).then((response) => {
                        this.submitForm = {}
                        alert("권한을 등록하였습니다.")

                    }).catch((error) => {
                        console.log(error)
                        this.validateText = error.responseJSON.data.errorMessage
                    })
                }
            }
        }).mount("#pageAuthorityUpdate")

    </script>
</th:block>

</html>