<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="ipAccessRegister">

    <span id="ipAccessRegister">
        <!-- Modal -->
        <div id="ipAccessRegisterModal" class="modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">
                            {{ title }}
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="row g-3">
                            <input type="hidden" name="parentPageId" v-model="submitForm.parentPageId">
                            <div class="col-md-12">
                                <label class="form-label">IP 주소</label>
                                <input type="text" class="form-control" name="ipAddress" v-model="submitForm.ipAddress"
                                       @keyup.enter="register()"
                                       required>
                                <div class="form-text">{{ validateText.ipAddress }}</div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">설명</label>
                                <input type="text" class="form-control" name="ipAccessDescription" v-model="submitForm.ipAccessDescription"
                                       @keyup.enter="register()"
                                >
                                <div class="form-text">{{ validateText.ipAccessDescription }}</div>
                            </div>
                            <div class="col-12">
                                <label class="form-label">적용 여부</label>
                            <select name="applyStatus" v-model="submitForm.applyStatus" class="form-select form-select-sm" required>
                                <option value="">선택</option>
                            </select>
                                <div class="form-text">{{ validateText.applyStatus }}</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button @click="register()" type="button" class="btn btn-primary btn-sm">IP 등록</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ipAccessRegisterModal">
            {{ buttonName }}
        </button>
        
    </span>


    <script type="application/javascript" th:inline="javascript">
        /**
         * method :
         * - closeCallback : Modal Close Callback
         * ex)
         * pageAuthorityRegister.closeCallback = () => {
         *      // code
         * }
         */
        const ipAccessRegister = Vue.createApp({
            data(){
                return{
                    title : "차단 IP 등록",
                    buttonName : "차단 IP 등록",
                    modalId : "ipAccessRegisterModal",
                    submitForm : {
                        ipAddress : '',
                        ipAccessDescription : '',
                        applyStatus : '',
                    },
                    validateText : {
                        ipAddress : '',
                        ipAccessDescription : '',
                        applyStatus : '',
                    }
                }
            },
            created(){
                    
            },
            mounted(){
                requestSelectOption("select[name='applyStatus']", {
                    url: "/api/common/type/active-status",
                    method: "GET",
                    data: {}
                })
            },
            methods: {
                reset : function (){
                    this.submitForm = {
                        parentPageId: this.submitForm.parentPageId
                    }
                    this.validateText = {}
                },
                close : function (){
                    document.getElementById(this.modalId).style.display = "none";
                    $('.modal-backdrop').remove();
                    this.closeCallback()
                },
                closeCallback : function (){
                    // 닫을 때 콜백
                },
                register : function () {
                    requestJsonAjaxPromise({
                        url: "/api/ip-access",
                        method: "POST",
                        data: this.submitForm,
                        async: true
                    }).then((response) => {
                        this.reset()
                        this.close()
                        alert("등록하였습니다.")
                    }).catch((error) => {
                        this.validateText = error.responseJSON.data.errorMessage
                    })
                }
            }
        }).mount("#ipAccessRegister")

    </script>
</th:block>


<th:block th:fragment="ipAccessUpdate">
    <!-- Modal -->
    <div class="modal" id="ipAccessUpdate" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">
                        {{ title }}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" class="row g-3">
                        <input type="hidden" name="parentPageId" v-model="submitForm.parentPageId">
                        <div class="col-md-12">
                            <label class="form-label">IP 주소</label>
                            <input type="text" class="form-control" name="ipAddress" v-model="submitForm.ipAddress"
                                   @keyup.enter="update()"
                                   required>
                            <div class="form-text">{{ validateText.ipAddress }}</div>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">설명</label>
                            <input type="text" class="form-control" name="ipAccessDescription" v-model="submitForm.ipAccessDescription"
                                   @keyup.enter="update()"
                            >
                            <div class="form-text">{{ validateText.ipAccessDescription }}</div>
                        </div>
                        <div class="col-12">
                            <label class="form-label">적용 여부</label>
                            <select name="applyStatus" v-model="submitForm.applyStatus" class="form-select form-select-sm" required>
                                <option value="">선택</option>
                            </select>
                            <div class="form-text">{{ validateText.applyStatus }}</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <div>
                        <button @click="remove()" type="button" class="btn btn-danger btn-sm">삭제</button>
                    </div>
                    <div>
                        <button @click="update()" type="button" class="btn btn-primary btn-sm">서브 페이지 수정</button>
                        <button type="button" class="btn btn-secondary btn-sm ms-2" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript" th:inline="javascript">
        /**
         * method :
         * - closeCallback : Modal Close Callback
         * ex)
         * pageAuthorityRegister.closeCallback = () => {
         *      // code
         * }
         */
        const ipAccessUpdate = Vue.createApp({
            data(){
                return{
                    title : "차단 IP 등록",
                    buttonName : "차단 IP 등록",
                    modalId : "ipAccessUpdate",
                    submitForm : {
                        ipAccessId : '',
                        ipAddress : '',
                        ipAccessDescription : '',
                        applyStatus : '',
                    },
                    validateText : {
                        ipAddress : '',
                        ipAccessDescription : '',
                        applyStatus : '',
                    }
                }
            },
            created(){

            },
            mounted(){
                requestSelectOption("select[name='applyStatus']", {
                    url: "/api/common/type/active-status",
                    method: "GET",
                    data: {}
                })
            },
            methods: {
                reset : function (){
                    this.submitForm = {}
                    this.validateText = {}
                },
                close : function (){
                    document.getElementById(this.modalId).style.display = "none";
                    $('.modal-backdrop').remove();
                    this.closeCallback()
                },
                closeCallback : function (){

                },
                show : function (ipAccessId){
                    requestJsonAjaxPromise({
                        url: "/api/ip-access/" + ipAccessId,
                        method: "GET",
                        data: {},
                        async: true
                    }).then((response) => {
                        this.submitForm = response.data.contents
                        new bootstrap.Modal(document.getElementById(this.modalId)).show();
                    }).catch((error) => {
                        alert("데이터를 불러오지 못하였습니다. 다시 시도해주세요.")
                    })
                },
                update: function (){
                    requestJsonAjaxPromise({
                        url: "/api/ip-access",
                        method: "PUT",
                        data: this.submitForm,
                        async: true
                    }).then((response) => {
                        this.reset()
                        this.close()
                        alert("수정하였습니다.")
                    }).catch((error) => {
                        this.validateText = error.responseJSON.data.errorMessage
                    })
                },
                remove: function (){
                    if (confirm("삭제하시겠습니까?")){
                        requestJsonAjaxPromise({
                            url: "/api/ip-access",
                            method: "DELETE",
                            data: this.submitForm,
                            async: true
                        }).then((response) => {
                            this.reset()
                            this.close()
                            alert("삭제하였습니다.")
                        }).catch((error) => {
                            alert("삭제에 실패하였습니다. 다시 시도해주세요.")
                        })
                    }

                }
            }
        }).mount("#ipAccessUpdate")
    </script>
</th:block>

</html>