<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="pageAuthorityRegister">
    <!-- Modal -->
    <div class="modal" id="pageAuthorityRegister" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">권한 등록</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <div class="col-12">
                            <label class="form-label">권한 코드*</label>
                            <input type="text" class="form-control" name="pageAuthorityCode" placeholder=""
                                   v-model="submitForm.pageAuthorityCode"
                                   :class="[validateText.pageAuthorityCode ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityCode }}</div>
                        </div>
                        <div class="col-12">
                            <label class="form-label">권한 이름</label>
                            <input type="text" class="form-control" name="pageAuthorityName" placeholder=""
                                   v-model="submitForm.pageAuthorityName"
                                   :class="[validateText.pageAuthorityName ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityName }}</div>
                        </div>
                        <div class="col-12">
                            <label class="form-label">권한 설명</label>
                            <input type="text" class="form-control" name="pageAuthorityDescription" placeholder=""
                                   v-model="submitForm.pageAuthorityDescription"
                                   :class="[validateText.pageAuthorityDescription ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityDescription }}</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button @click="create" type="button" class="btn btn-primary btn-sm">권한 등록</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#pageAuthorityRegister">
        페이지 권한 생성
    </button>

    <script type="application/javascript" th:inline="javascript">

        /**
         * method :
         * - closeCallback : Modal Close Callback
         * ex)
         * pageAuthorityRegister.closeCallback = () => {
         *      // code
         * }
         */
        const pageAuthorityRegister = Vue.createApp({
            data(){
                return{
                    modalId : 'pageAuthorityRegister',
                    submitForm : {
                        pageAuthorityCode : '',
                        pageAuthorityName : '',
                        pageAuthorityDescription : ''
                    },
                    validateText : {
                        pageAuthorityCode : '',
                        pageAuthorityName : '',
                        pageAuthorityDescription : ''
                    },
                    normalClass : 'form-text',
                    errorClass : "border-danger"
                }
            },
            created(){

            },
            mounted(){

            },
            methods: {
                reset : function (){
                    this.submitForm = {}
                    this.validateText = {}
                },
                close : function (){
                    document.getElementById(this.modalId).style.display = "none";
                    $(".modal-backdrop").remove()
                    this.closeCallback()
                },
                closeCallback : function (){

                },
                create: function (){
                    requestJsonAjaxPromise({
                        url: "/api/page-admin/auth",
                        method: "POST",
                        data: this.submitForm,
                        async: true
                    }).then((response) => {
                        this.reset()
                        this.close()
                        alert("권한을 등록하였습니다.")

                    }).catch((error) => {
                        console.log(error)
                        this.validateText = error.responseJSON.data.errorMessage
                    })
                }
            }
        }).mount("#pageAuthorityRegister")

        document.getElementById("pageAuthorityRegister").addEventListener('show.bs.modal', event => {
            pageAuthorityRegister.reset()
        })

    </script>
</th:block>


<th:block th:fragment="pageAuthorityUpdate">
    <!-- Modal -->
    <div class="modal" id="pageAuthorityUpdate" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">권한 수정</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <input type="hidden" v-model="submitForm.pageAuthorityId">
                        <div class="col-6">
                            <label class="form-label">등록시간</label>
                            <input type="text" class="form-control"
                                   v-model="submitForm.registerDate" disabled>
                        </div>
                        <div class="col-6">
                            <label class="form-label">수정시간</label>
                            <input type="text" class="form-control"
                                   v-model="submitForm.lastModifyDate" disabled>
                        </div>

                        <div class="col-12">
                            <label class="form-label">권한 코드</label>
                            <input type="text" class="form-control" name="pageAuthorityCode" placeholder=""
                                   v-model="submitForm.pageAuthorityCode"
                                   :class="[validateText.pageAuthorityCode ? errorClass : '', normalClass]" disabled>
                            <div class="form-text">{{ validateText.pageAuthorityCode }}</div>
                        </div>
                        <div class="col-12">
                            <label class="form-label">권한 이름</label>
                            <input type="text" class="form-control" name="pageAuthorityName" placeholder=""
                                   v-model="submitForm.pageAuthorityName"
                                   :class="[validateText.pageAuthorityName ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityName }}</div>
                        </div>
                        <div class="col-12">
                            <label class="form-label">권한 설명</label>
                            <input type="text" class="form-control" name="pageAuthorityDescription" placeholder=""
                                   v-model="submitForm.pageAuthorityDescription"
                                   :class="[validateText.pageAuthorityDescription ? errorClass : '', normalClass]">
                            <div class="form-text">{{ validateText.pageAuthorityDescription }}</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <div>
                        <button @click="remove" type="button" class="btn btn-danger btn-sm">삭제</button>
                    </div>
                    <div>
                        <button @click="update" type="button" class="btn btn-primary btn-sm">권한 정보 수정</button>
                        <button type="button" class="btn btn-secondary btn-sm ms-2" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript" th:inline="javascript">
        /**
         * method :
         * - closeCallback : Modal Close Callback
         * ex)
         * pageAuthorityRegister.closeCallback = () => {
         *      // code
         * }
         */
        const pageAuthorityUpdate = Vue.createApp({
            data(){
                return{
                    modalId : 'pageAuthorityUpdate',
                    submitForm : {
                        pageAuthorityId : '',
                        pageAuthorityCode : '',
                        pageAuthorityName : '',
                        pageAuthorityDescription : '',
                        registerDate : '',
                        lastModifyDate : ''
                    },
                    validateText : {
                        pageAuthorityCode : '',
                        pageAuthorityName : '',
                        pageAuthorityDescription : ''
                    },
                    normalClass : 'form-text',
                    errorClass : "border-danger"
                }
            },
            created(){

            },
            mounted(){

            },
            methods: {
                reset : function (){
                    this.submitForm = {}
                    this.validateText = {}
                },
                close : function (){
                    document.getElementById(this.modalId).style.display = "none";
                    $('.modal-backdrop').remove();
                    this.closeCallback()
                },
                closeCallback : function (){

                },
                show : function (pageAuthorityId){
                    requestJsonAjaxPromise({
                        url: "/api/page-admin/auth/" + pageAuthorityId,
                        method: "GET",
                        data: {},
                        async: true
                    }).then((response) => {
                        this.submitForm = response.data.contents
                        new bootstrap.Modal(document.getElementById('pageAuthorityUpdate')).show();
                    }).catch((error) => {
                        alert("데이터를 불러오지 못하였습니다. 다시 시도해주세요.")
                    })
                },
                update: function (){
                    requestJsonAjaxPromise({
                        url: "/api/page-admin/auth",
                        method: "PUT",
                        data: this.submitForm,
                        async: true
                    }).then((response) => {
                        this.reset()
                        this.close()
                        alert("권한을 수정하였습니다.")
                    }).catch((error) => {
                        this.validateText = error.responseJSON.data.errorMessage
                    })
                },
                remove: function (){
                    if (confirm("삭제하시겠습니까?")){
                        requestJsonAjaxPromise({
                            url: "/api/page-admin/auth",
                            method: "DELETE",
                            data: this.submitForm,
                            async: true
                        }).then((response) => {
                            this.reset()
                            this.close()
                            alert("삭제하였습니다.")
                        }).catch((error) => {
                            alert("삭제에 실패하였습니다. 다시 시도해주세요.")
                        })
                    }

                }
            }
        }).mount("#pageAuthorityUpdate")
    </script>
</th:block>

</html>