<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ErrorPage</title>

    <th:block th:replace="fragment/common :: commonStatic"></th:block>

</head>
<body>

<th:block th:replace="fragment/header :: commonHeader"></th:block>

<div class="uk-container">
    <div class="uk-flex uk-flex-center uk-margin-top">
        <span class="uk-text-large uk-text-bold uk-text-danger">! Error !</span>
    </div>

    <div class="uk-flex uk-flex-center uk-margin-top" th:if="${errorMessage!=null}">
        <span class="uk-text-large uk-text-bold" th:text="${errorMessage}"></span>
    </div>

    <div class="uk-flex uk-flex-center uk-margin-top" th:if="${referer!=null}">
        <a th:href="${referer}" class="uk-button uk-button-secondary">
            이전 페이지로 이동
        </a>
    </div>
</div>

</body>
</html>