<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="~{fragment/common :: commonStatic}"></th:block>
    <th:block th:replace="~{fragment/framework :: uikit}"></th:block>

</head>
<body>

<th:block th:replace="~{fragment/header :: commonHeader}"></th:block>

<div class="uk-container">
    <div class="uk-flex uk-flex-center uk-margin-top">
        <span class="uk-text-large uk-text-bold uk-text-danger">! Error !</span>
    </div>

    <div class="uk-flex uk-flex-center uk-margin-top" th:if="${errorMessage!=null}">
        <span class="uk-text-large uk-text-bold" th:text="${errorMessage}"></span>
    </div>

    <div class="uk-flex uk-flex-center uk-margin-top">
        <a th:if="${referer!=null}" th:href="${referer}" class="uk-button uk-button-secondary">
            이전 페이지로 이동
        </a>
        <button th:if="${referer==null}" class="uk-button uk-button-secondary" onclick="history.back();">
            이전 페이지로 이동
        </button>
    </div>
</div>

</body>
</html>