<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>상위 페이지 목록</title>

    <th:block th:replace="~{fragment/common :: commonStatic}"></th:block>
    <th:block th:replace="~{fragment/framework :: uikit}"></th:block>
    <th:block th:replace="~{fragment/framework :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment/library :: tui-grid}"></th:block>
    <th:block th:replace="~{fragment/framework :: vue}"></th:block>

</head>
<body>

<th:block th:replace="~{fragment/header :: commonHeader}"></th:block>
<th:block th:replace="~{fragment/modalSubPage :: subPageUpdate}"></th:block>
<th:block th:replace="~{fragment/modalParentPage :: parentPageUpdate}"></th:block>

<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <span class="fs-3 fw-bold">페이지 관리</span>
    </div>

    <div id="buttons" class="row mt-3">
        <div class="col d-flex justify-content-between">
            <div class="float-start">
                <th:block th:replace="~{fragment/modalParentPage :: parentPageRegister}"></th:block>
            </div>
            <div>
                <a type="button" id="addAuthButton"
                   class="link-secondary link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover ms-3">
                    페이지 권한 추가
                </a>
            </div>
        </div>
        <div class="col">
            <div>
                <th:block th:replace="~{fragment/modalSubPage :: subPageRegister}"></th:block>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div id = 'gridTarget' class="w-50"></div>
        <div id = 'gridSub' class="w-50"></div>
    </div>

</div>

</body>

<script type="application/javascript" th:inline="javascript">
    // csrf token
    let headers = {
    /*[[${_csrf.headerName}]]*/
    :
    /*[[${_csrf.token}]]*/
    }

    const Grid = tui.Grid;
    Grid.applyTheme('striped'); // Call API of static method

    let gridTarget = new Grid({
        el: document.getElementById("gridTarget"),
        rowHeaders: ['rowNum'],
        columns: [
            {
                header: '상위 페이지 아이디', name: 'parentPageId', align: 'center', hidden: true
            },
            {
                header : '페이지 명', name: 'parentPageTitle', width : 150, align: 'center',
                resizable : true,
                sortable : true,
                filter: 'select'
            },
            {
                header: '루트 경로', name: 'parentPageRootPath', width: 150, align : 'center',
                resizable : true,
                sortable : true,
                filter: 'select'
            },
            {
                header: '페이지 권한', width: 150, align : 'center',
                resizable: true,
                sortable: true,
                filter: 'select',
                formatter: function (e) {
                    pageAuthorityName = e.row.pageAuthorityName
                    pageAuthorityCode = e.row.pageAuthorityCode
                    if (!pageAuthorityCode && !pageAuthorityName){
                        return  '.'
                    }
                    return e.row.pageAuthorityName + ' (' + e.row.pageAuthorityCode + ')'
                }
            },
            {
                header: '권한코드', name: 'pageAuthorityCode', hidden: true,
            },
            {
                header: '권한이름', name: 'pageAuthorityName', hidden: true
            }
        ],
        data: {
            api: {
                readData: {
                    url : '/api/parent-page',
                    method : 'GET',
                    initParams : {}
                }
            },
            contentType: 'application/json',
            headers : headers
        },
        pageOptions: {
            perPage: 30
        },
        bodyHeight: 300
    })

    let gridSub = new Grid({
        el: document.getElementById("gridSub"),
        rowHeaders: ['rowNum'],
        columns: [
            {
                header: '하위 페이지 아이디', name: 'subPageId', align: 'center', hidden: true
            },
            {
                header : '페이지 명', name: 'subPageTitle', width : '150', align: 'center',
                resizable : true,
                sortable : true,
                filter: 'select'
            },
            {
                header: '서브 페이지 경로', name: 'subPagePath', width: 150, align : 'center',
                resizable : true,
                sortable : true,
                filter: 'select'
            },
            {
                header: '절대 경로', name: 'concatPagePath', width: 150, align : 'center',
                resizable : true,
                sortable : true,
                filter: 'select'
            },
        ],
        data: {
            api: {
                readData: {
                    url : '/api/parent-page/sub-page',
                    method : 'GET',
                    initParams : {}
                }
            },
            initialRequest: false,
            contentType: 'application/json',
            headers : headers
        },
        pageOptions: {
            perPage: 30
        },
        bodyHeight: 300,
        selectionUnit: 'row'
    })

    // event
    gridTarget.on('focusChange', function(ev) {
        let rowKey = ev.rowKey;

        let row = gridTarget.getRow(rowKey);

        subPageRegister.submitForm.parentPageId = row.parentPageId;
        let data = {
            parentPageId : subPageRegister.submitForm.parentPageId
        }
        gridSub.readData(null, data, true);

        document.getElementById("parentPageTitle").innerText = row.parentPageTitle
    });

    gridTarget.on('dblclick', function(ev) {
        console.log(ev)
        let rowKey = ev.rowKey;
        let record = {
            start : [rowKey, 0],
            end : [rowKey, gridTarget.getColumns().length]
        }
        gridTarget.setSelectionRange(record);

        parentPageUpdate.show(gridTarget.getRow(rowKey).parentPageId)
    });

    gridSub.on('dblclick', function(ev) {
        let rowKey = ev.rowKey;
        let record = {
            start : [rowKey, 0],
            end : [rowKey, gridSub.getColumns().length]
        }
        gridSub.setSelectionRange(record);

        let subPageId = gridSub.getRow(rowKey).subPageId;
        subPageUpdate.show(subPageId)
    });

    document.getElementById("addAuthButton").addEventListener("click", function (e){
        location.href='/page-admin/page/auth/register';
    })

    // modal callback
    parentPageRegister.closeCallback = () => {
        gridTarget.readData();
    }

    parentPageUpdate.closeCallback = () => {
        gridTarget.readData();
        gridSub.readData()
    }

    subPageRegister.closeCallback = () => {
        gridSub.readData()
    }

    subPageUpdate.closeCallback = () => {
        gridSub.readData()
    }

</script>
</html>