<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>상위 페이지 등록</title>

    <th:block th:replace="~{fragment/common :: commonStatic}"></th:block>
    <th:block th:replace="~{fragment/framework :: vue}"></th:block>
    <th:block th:replace="~{fragment/framework :: uikit}"></th:block>
    <th:block th:replace="~{fragment/framework :: bootstrap}"></th:block>

</head>
<body>

<th:block th:replace="~{fragment/header :: commonHeader}"></th:block>

<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <span class="fs-3 fw-bold">등록 페이지</span>
    </div>

    <div class="d-flex justify-content-center">
        <div class="row w-50">
            <div class="col">

                <form id="submitForm" method="post" class="row g-3">
                    <div class="col-md-12">
                        <label for="parentPageTitle" class="form-label">페이지 명*</label>
                        <input type="text" class="form-control" id="parentPageTitle" name="parentPageTitle" required
                               v-model="submitForm.parentPageTitle"
                               :class="[validateText.parentPageTitle ? errorClass : '', normalClass]">
                        <div class="form-text">{{ validateText.parentPageTitle }}</div>
                    </div>
                    <div class="col-md-12">
                        <label for="parentPageDescription" class="form-label">설명</label>
                        <input type="text" class="form-control" id="parentPageDescription" name="parentPageDescription"
                               v-model="submitForm.parentPageDescription"
                               :class="[validateText.parentPageDescription ? errorClass : '', normalClass]">
                        <div class="form-text">{{ validateText.parentPageDescription }}</div>
                    </div>
                    <div class="col-12">
                        <label for="parentPageRootPath" class="form-label">루트 경로*</label>
                        <input type="text" class="form-control" id="parentPageRootPath" name="parentPageRootPath" placeholder="/" required
                               v-model="submitForm.parentPageRootPath"
                               :class="[validateText.parentPageRootPath ? errorClass : '', normalClass]">
                        <div class="form-text">{{ validateText.parentPageRootPath }}</div>
                    </div>
                    <div class="col-12">
                        <label for="parentPageIndexPath" class="form-label">인덱스 페이지 경로</label>
                        <input type="text" id="parentPageIndexPath" name="parentPageIndexPath" placeholder="/index"
                               v-model="submitForm.parentPageIndexPath"
                               :class="[validateText.parentPageIndexPath ? errorClass : '', normalClass]">
                        <div class="form-text">{{ validateText.parentPageIndexPath }}</div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="button" @click="submit" class="btn btn-primary">페이지 등록</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

</body>

<script type="application/javascript" th:inline="javascript">
    // csrf token
    let headers = {
    /*[[${_csrf.headerName}]]*/
    :
    /*[[${_csrf.token}]]*/
    }

    const app = Vue.createApp({
        data(){
            return{
                submitForm : {
                    parentPageTitle: '',
                    parentPageDescription: '',
                    parentPageRootPath: '',
                    parentPageIndexPath: ''
                },
                validateText : {
                    parentPageTitle: '',
                    parentPageDescription: '',
                    parentPageRootPath: '',
                    parentPageIndexPath: ''
                },
                normalClass: "form-control",
                errorClass: "border-danger",
            }
        },
        methods: {
            submit: function (){
                requestJsonAjaxPromise({
                    url: "/api/parent-page",
                    method: "POST",
                    data: this.submitForm
                }).then((response) => {
                    console.log(response)
                    this.validateText = {}
                    location.replace("/page-admin/page/list")
                }).catch((error) => {
                    console.log(error.responseJSON.data.errorMessage)
                    this.validateText = error.responseJSON.data.errorMessage
                })

                console.log(this.validateText)
            }
        }
    }).mount("#submitForm")

</script>
</html>